html,
body {
    font-family: 'Nunito Sans', sans-serif;
    background-color: #1c1d1d;
    color: #FFF;
}

h1 {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
    font-size: 50pt;
}

h2 {
    font-weight: 200;
    font-size: 22pt;
}

p {
    margin: 16pt;
    font-weight: 200;
    font-size: 15pt;
    color: #9c9c9c;
}

.header {
    margin: 80pt;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.content{
    border-color: #2c2c2c;
    border-width: 1pt;
    border-style: solid;
    border-radius: 10pt;
    padding: 12pt;
    

    width: 600pt;
}

hr.solid {
    margin-left: 0;
    margin-right: 0;
    border-color: #2c2c2c;
    border-width: 1pt;
    border-style: solid;
}

.content-wrapper{
    display: flex;
    justify-content: center;
}

#image {
    border-radius: 50%;
    margin-right: 50pt;
    width: 130pt;
}