html,
body {
    font-family: 'Inter', sans-serif;
    background-color: #1c1d1d;
    color: #FFF;
}

h1 {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 50pt;
    align-self: center;
    margin: 6pt;
}

h2 {
    font-weight: 300;
    font-size: 25pt;
    color: #6C6C6C;
    align-self: center;
    margin: 3pt;
}

p {
    font-weight: 200;
    font-size: 15pt;
    color: #9c9c9c;
}

.header {
    margin: 80pt;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: center;
}

.naming {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 60pt;
}

.content{
    border-color: #2c2c2c;
    border-width: 1pt;
    border-style: solid;
    border-radius: 10pt;
    padding: 12pt;
    

    width: 600pt;
}

hr.solid {
    margin-left: 0;
    margin-right: 0;
    border-color: #2c2c2c;
    border-width: 1pt;
    border-style: solid;
}

.content-wrapper{
    display: flex;
    justify-content: center;
}


#image-container {
    position: relative;
    width: 250px;
    height: 250px;
}
      
#outer-border, #image {
    position: absolute;
    border-radius: 50%;
}

#outer-border {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(#613400, #2d055b); /* Outer circle color */
}

#image {
    width: 95%; 
    height: 95%; 
    top: 2.5%; 
    left: 2.5%; 
}

.items {
    display: flex;
    flex-direction: row;
}

a {
    font-weight: 300;
    font-size: 20pt;
    color: #bbbbbb;
    width:180pt;
    text-align: center;
    text-decoration: none; 
}